body{
    background: rgb(224, 255, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    /* text-decoration-color: blue; */
}

.btn{
    color: red;
    background: whitesmoke;
    margin: 20px;
}

.add-btn{
    background: lightblue;
    color: white;
    width: auto;
    height: 20px;
    margin: 20px;
}
.app-title{
    text-align: center;
    color: lightblue;
    border: darkblue;
    font-size: 70px;
}
.container{
    border: 5px solid rgb(35, 15, 218);
    border-radius: 25px;
    /* text-align: left; */

}
